{% extends 'base.html' %}
{% load static %}
{% block css %}

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css'%}">
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/apps/contacts.css'%}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->    
{% endblock css %}
{% block content %}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">
            
            <nav id="sidebar">
                <div class="shadow-bottom"></div>

                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu">
                       <a href="/kirish/" ><p style="margin-top:30px;"><i class="fas fa-home" ></i> Bosh Sahifa </p></a>

                    </li>

                     <li class="menu">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <i class="fas fa-align-justify"></i>
                                <span>Category</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="dashboard" data-parent="#accordionExample">
                            {% for c in category %}
                                <li>
                                    <a href="/kirish/category/{{ c.id }}/"> {{ c.name }}</a>
                                </li>
                            {% endfor %}

                        </ul>


                     </li>

                    <li class="menu">
                       <a href="/logout/" ><p style="margin-top:30px;"><i class="fas fa-lock" ></i> Chiqish </p></a>

                    </li>
                </ul>
                
            </nav>

        </div>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">                
                <div class="row layout-spacing layout-top-spacing" id="cancel-row">
                    <div class="col-lg-12">
                        <div class="widget-content searchable-container list">

                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
                                    <form class="form-inline my-2 my-lg-0">
                                        <div class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                            <input type="text" class="form-control product-search" id="input-search" placeholder="Search Contacts...">
                                        </div>
                                    </form>
                                </div>

                                <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">
                                    <div class="d-flex justify-content-sm-end justify-content-center">
                                        <svg id="btn-add-contact" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>

                                        <div class="switch align-self-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list view-list active-view"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid view-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                                                    <div class="add-contact-box">
                                                        <div class="add-contact-content">
                                                            <form id="addContactModalTitle">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="contact-name">
                                                                            <i class="flaticon-user-11"></i>
                                                                            <input type="text" id="c-name" class="form-control" placeholder="Name">
                                                                            <span class="validation-text"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="contact-email">
                                                                            <i class="flaticon-mail-26"></i>
                                                                            <input type="text" id="c-email" class="form-control" placeholder="Email">
                                                                            <span class="validation-text"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="contact-occupation">
                                                                            <i class="flaticon-fill-area"></i>
                                                                            <input type="text" id="c-occupation" class="form-control" placeholder="Occupation">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        <div class="contact-phone">
                                                                            <i class="flaticon-telephone"></i>
                                                                            <input type="text" id="c-phone" class="form-control" placeholder="Phone">
                                                                            <span class="validation-text"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="contact-location">
                                                                            <i class="flaticon-location-1"></i>
                                                                            <input type="text" id="c-location" class="form-control" placeholder="Location">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="btn-edit" class="float-left btn">Save</button>

                                                    <button class="btn" data-dismiss="modal"> <i class="flaticon-delete-1"></i> Discard</button>

                                                    <button id="btn-add" class="btn">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="searchable-items list">
                                <div class="items items-header-section">
                                    <div class="item-content">
                                        <div class="">
                                            <div class="n-chk align-self-center text-center">
                                                <label class="new-control new-checkbox checkbox-primary">
                                                  <input type="checkbox" class="new-control-input" id="contact-check-all">
                                                  <span class="new-control-indicator"></span>
                                                </label>
                                            </div>
                                            <h4>Photo</h4>
                                        </div>
                                        <div class="user-email">
                                            <h4>Name</h4>
                                        </div>
                                        <div class="user-location">
                                            <h4 style="margin-left: 0;">Pdf</h4>
                                        </div>
                                        <div class="user-phone">
                                            <h4 style="margin-left: 3px;">Muallif</h4>
                                        </div>
                                        <div class="action-btn">
                                              <h4 style="margin-left: 3px;">Download</h4>
                                        </div>
                                        <div class="action-btn">
                                              <h4 style="margin-left: 3px;">Delete</h4>
                                        </div>
                                    </div>
                                </div>


                                {% for p in products %}
                                    <div class="items">
                                    <div class="item-content">
                                        <div class="user-profile">
                                            <div class="n-chk align-self-center text-center">
                                                <label class="new-control new-checkbox checkbox-primary">
                                                  <input type="checkbox" class="new-control-input contact-chkbox">
                                                  <span class="new-control-indicator"></span>
                                                </label>
                                            </div>
                                            <img style="border-radius:25%;" src="{{ p.photo.url }}" alt="avatar">
                                            <br>
<!--                                            <div class="user-meta-info">-->
<!--                                                <p class="user-name" data-name="Linda Nelson">{{ p.name }}</p>-->
<!--                                            </div>-->
                                        </div>

                                        <div class="user-location">
                                            <p class="info-title">Name: </p>
                                            <p class="usr-location" data-location="Sydney, Australia">{{ p.name }}</p>
                                        </div>
                                        <div class="user-phone">
                                            <p class="info-title">PDF: </p>
                                            <p class="usr-ph-no" >{{ p.pdf|truncatechars:15 }}</p>
                                        </div>
                                        <div class="user-phone">
                                            <p class="info-title">Muallif: </p>
                                            <p class="usr-ph-no" >{{ p.muallif }}</p>
                                        </div>
                                        <div class="action-btn">
                                            <a href="{{ p.pdf.url }}" download=""><i class="fas fa-download "  ></i></a>
                                        </div>
                                        <div class="action-btn">
                                            <a href="/delete/{{ p.id }}/" ><i class="fas fa-trash "  ></i></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  END CONTENT AREA  -->
    </div>
        <!-- END MAIN CONTAINER -->
{% endblock content %}
{% block js %}
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js'%}"></script>
    <script src="{% static 'assets/js/apps/contact.js'%}"></script>
{% endblock js %}